@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
  
#homeProduct
{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

#proHeading
{
    text-align: center;
    color: #6868b3;
    font-weight: bold;
}

#topmenu
{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 10vh;
    background-color: white;
    box-shadow: 0px 0px 2px;
}
#topmenu a{
    font-weight: 500;   
}

#input{
    border: 1px solid #6868b3;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-color: transparent;
    width: 220px;
}
#srchbtn{
    border: none;
    padding: 5px 10px;
    border: 1px solid #6868b3;
    color: #6868b3;
    background-color: transparent;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .5s;
}
#srchbtn:hover{
    background-color: #6868b3;
    color: white;
    transition: .5s;
}
#card{
    width: 320px;
    margin-top: 20px;
    text-align: start;
}

#card img{
    transition: .8s;
    cursor: pointer;
}
#card img:hover{
    transform: scale(.9);
    transition: .8s;
}

#category{
    padding: 5px 0px 0px 0px;
    font-weight: bold;
    color: green;
}

#details{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
#img{
    width: 100%;
}
#desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
#reg-form{
    text-align: center;
    font-weight: bold;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#reg-form input{
    width: 350px;
}
#form{
    text-align: center;
    font-weight: bold;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
Form{
    box-shadow: 0px 0px 2px;
    padding: 30px 15px;
    border-radius: 10px;
}
Form #forget{
    text-align: end;
    color: #6868b3;
    cursor: pointer;
    text-decoration: underline;
}
Form Button{
    width: 100%;
    margin-top: 10px;
}
#form input{
    width: 350px;
}
#blogs{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
#services{
    width: 90%;
    margin: auto;
}
#shop{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

#shop #filter-data{
    width: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 2px;
}

#shop input{
    width: 50px;
}
#radio{
    display: flex;
    width: 78%;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 0px;
}
#filter-btn{
    margin-top: 10px;
    width: 80px;
}

#shop #show-data{
    width: 78%;
}

#checkbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0px;
}

#checkout{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkout-page{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
#checkout-page h3{
    font-weight: bold;
}
#delivery-details{
    width: 100%;
}


#payment-method{
    width: 100%;
    height: 108vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}

#pay{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-direction: row-reverse;
}
#payment-method input{
    box-shadow: 0px 0px 2px;
}
#payment-method img{
    margin-left: 40px;
}
 Label{
    margin-top: 5px;
    font-weight: 700;
}

#mycart{
    width: 90%;
    margin: auto;
    border: 1px solid #d8d6d6;
}

#mycart1 th{
    font-weight: bold;
    border: 1px solid #686868;
    background-color: #d8d6d6;
}
#mycart2 th{
    font-weight: bold;
    background-color: #d8d6d6;
}

#myCart-img{
    height: 130px;
    width:130px;
    cursor: pointer;
    transition: .8s;
}
#myCart-img:hover{
    border-radius: 5px;
    transform: scale(1.1);
    transition: .5s;
}

@media(max-width:500px){
    #shop #filter-data h5{
        font-size: 12px;
    }
    #radio{
        font-size: 10px;
        width: 100%;
    }
    #shop input{
        width: 20px;
    }
    #filter-btn{
        margin-top: 10px;
        width: 60px;
    }
    #checkout-page{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
    }
    #payment-method{
        margin-top: 50px;
    }
    #details{
        grid-template-columns: auto;
    }
    #img img{
        height: 400px;
        width: 400px;
    }
    #mycart{
        width: 100%;
    }
}
marquee{
    font-style: italic;
    font-weight: 800;
    color: #686868;
}
#offers{
    position: fixed;
    top: 80%;
    right: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px green;
    padding: 15px 7px;
    font-weight: bold;
    font-size: 14px;
    background-color: #0080006a;
    color: seashell;
    cursor: pointer;
    z-index: 10;
    transition: .5s;
    transform: rotate(320deg);
}
#offers:hover{
    background-color: green;
    box-shadow: 0px 0px 4px;
    color: white;
    transition: .5s;
}

 #dashboard{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
 }